/* general font*/
h1{
    font-family: 'ONE DAY';
    font-style: normal;
}


h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
}

a{
    font-style: normal;
    text-decoration: none;
}

/* Portfolio go to section*/

.profile-icon{
    color: white;
    font-size: 50px;
    margin-left: 21vw;
}

.profile-go-to{
    height: 51vh;
    width: 26vw;

    border-radius: 50%;
    margin-left: -16vw;
    border-style: solid;
    border-width: 5px;
    border-color: white;

    transition: 500ms;

}


/* Portfolio go to section*/

.brush-icon{
    color: white;
    font-size: 50px;
    margin-left: 1.8vw;
}

.brush-go-to{
    height: 51vh;
    width: 26vw;

    border-radius: 50%;
    margin-right: -16vw;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    transition: 500ms;
}

/*mid circles*/
.circle{
    border-radius: 50%;
}

.circle1{
    height: 30em;
    width: 30em;

    border: 8px solid #FFFFFF;
}

.circle2{
    height: 26em;
    width: 26em;

    border: 5px solid #FFFFFF;
}

/*AN writing*/

.ANPortfolio {
    margin-left: 1em;
}

.ANPortfolio h1{
    font-size: 96px;
    line-height: 75px;

    color: #FFFFFF;

    padding-bottom: 0.2em;
    padding-right: 0.8em;

}

.ANPortfolio h1 span{
    font-size: 64px;
    
    color: #FFFFFF;

}

.ANPortfolio h2{
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}

/*art portfolio*/
.artPortfolio-writing {
    margin-right: 1em;
}

.artPortfolio-writing h1{
    font-size: 96px;
    line-height: 75px;
    text-align: right;

    color: #FFFFFF;

    padding-bottom: 0.2em;
    padding-left: 0.8em;
}

.artPortfolio-writing  h1 span{
    font-size: 64px;
    
    color: #FFFFFF;

}

.block{
    height: 42vh;
    width: 21vw;
    overflow-y: hidden;
}

canvas {
    border-radius: 50%;
    
  }

.AnNec:hover .profile-go-to{
    height: 58vh;
    width: 28vw;
    transition: 500ms;
}

.artPortfolio:hover .brush-go-to{
    height: 58vh;
    width: 28vw;
    transition: 500ms;
}
